html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f7f1e8;
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
